.tile {
  height: auto;
  /* width: 900px; */
  border-radius: 6%;
  background-color: #fbe9d0;
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}
.sleeping-img {
  width: 50%;
  height: auto;
  display: inline-block;
  margin-left: 73%;
  margin-top: 12%;
}
.rubik-ten {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h2 {
  float: right;
}
.inner-p {
  width: 600px;
  text-wrap: pretty;
  float: left;
}
.portal {
  color: #714646;
  display: inline-block;
  padding: 2%;
  height: auto;
}

.l1 {
  color: #fbe9d0;
  border-radius: 2%;
  width: 90%;
  height: auto;
  padding-right: 5%;
  height: 500px;
  background-color: #714646;
  /* align-items: center; */
  justify-self: center;
  display: inline-block;
}

.views {
  padding: 5%;
}

.l2 {
  justify-content: center;
  align-items: center;
  padding: 5%;
  cursor: pointer;
  transition: text-shadow 0.25s;
}

.l2:hover {
  text-shadow: 2px 2px 0 #244855, -2px -2px 0 #e64833, -2px 2px 0 #e64833,
    2px -2px 0 #e64833;
}

.wrapper {
  cursor: pointer;
  transition: text-shadow 0.25s;
}

.wrapper:hover {
  background-color: #6d5a5a;
  width: full;
  height: auto;
}
