#root {
  height: auto;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.rubik-ten {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cont {
  color: #fbe9d0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.75rem;

  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-left: 20%; */
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.text {
  /* font-size: xx-large; */
  font-size: 40px;
  align-items: center;
  float: right;
  line-height: 3rem;
  flex-grow: 1;
  width: 800px;
  margin-left: 2rem;
  margin-top: 3rem;
  flex-shrink: 0;
  text-shadow: 2px 2px 0 #e18175, -2px -2px 0 #e18175, -2px 2px 0 #e18175,
    2px -2px 0 #e18175;
}

.p-cl {
  color: #714646;
  float: left;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 2rem;
  margin-left: 2rem;
}

.pic {
  height: auto;
  border-radius: 15%;
  position: relative;
}

.highlight {
  color: fbe9d0;
  transition: text-shadow 0.25s;
}

.highlight:hover {
  text-shadow: 2px 2px 0 #244855, -2px -2px 0 #e64833, -2px 2px 0 #e64833,
    2px -2px 0 #e64833;
}
